application-example/src/main/resources/ExampleSoapService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:tns="http://www.rt.ru/integration/services/crm/casenotification"
				  xmlns:case="http://www.rt.ru/integration/services/crm/casenotification"
				  xmlns:core="http://www.rt.ru/integration/messages/core"
				  xmlns:fault="http://www.rt.ru/integration/messages/fault"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  name="CaseNotificationService"
				  targetNamespace="http://www.rt.ru/integration/services/crm/casenotification">
	<wsdl:types>
		<xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
					targetNamespace="http://www.rt.ru/integration/services/crm/casenotification">
			<xs:complexType name="tCaseNotification">
				<xs:annotation>
					<xs:documentation>
						Уведомление об изменении статуса заявки
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ExtSystemId" type="xs:string"
								maxOccurs="1" minOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Идентификатор внешней системы
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AffiliateId" type="xs:string"
								minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Идентификатор филиала
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtCaseNumber" type="xs:string"
								maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Номер заявки во внешней системе
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtCaseId" type="xs:string" maxOccurs="1"
								minOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Идентификатор заявки во внешней системе
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ECOId" type="xs:string" minOccurs="0"
								maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Идентификатор записи в Едином классификаторе
								обращений
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CaseCloseCode" type="xs:string"
								maxOccurs="1" minOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Код закрытия заявки
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="CaseStatus" type="xs:string" maxOccurs="1"
								minOccurs="1">
						<xs:annotation>
							<xs:documentation>Статус заявки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtGlobalCaseId" type="xs:string"
								minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Идентификатор Глобальной проблемы во внешней
								системе
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtGlobalCaseNumber" type="xs:string"
								minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Номер Глобальной проблемы во внешней системе
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PropensityDrain" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Параметр склонности к оттоку</xs:documentation>
						</xs:annotation></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="CaseNotification" type="tns:tCaseNotification">
				<xs:annotation>
					<xs:documentation>Уведомление об изменении статуса заявки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
					xmlns:tns="http://www.rt.ru/integration/messages/core"
					targetNamespace="http://www.rt.ru/integration/messages/core"
					elementFormDefault="qualified">
			<xsd:complexType name="tEmpty">
				<xsd:annotation>
					<xsd:documentation>
						Пустой ответ для методов, которые не возвращают информацию, а
						осуществляют некоторые действия
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence/>
			</xsd:complexType>

			<xsd:element name="Empty" type="tns:tEmpty">
				<xsd:annotation>
					<xsd:documentation>
						Пустой ответ для методов, которые не возвращают информацию, а
						осуществляют некоторые действия
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
					xmlns:tns="http://www.rt.ru/integration/messages/fault"
					targetNamespace="http://www.rt.ru/integration/messages/fault"
					elementFormDefault="qualified">
			<xsd:complexType name="tSystemFault">
				<xsd:annotation>
					<xsd:documentation>Тип, описывающий системную ошибку</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Code" minOccurs="1" maxOccurs="1" nillable="false">
						<xsd:annotation>
							<xsd:documentation>Код ошибки</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="SYS-001">
									<xsd:annotation>
										<xsd:documentation>Общая системная ошибка</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="SYS-002">
									<xsd:annotation>
										<xsd:documentation>
											Неверный идентификатор экземпляра системы-приемника
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="SYS-003">
									<xsd:annotation>
										<xsd:documentation>Система-приемник недоступна</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="SYS-004">
									<xsd:annotation>
										<xsd:documentation>
											Системная ошибка в получателе сообщения
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Summary" type="xsd:string" minOccurs="1" maxOccurs="1"
								 nillable="false">
						<xsd:annotation>
							<xsd:documentation>Краткое описание ошибки</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Detail" type="xsd:string" minOccurs="1" maxOccurs="1"
								 nillable="false">
						<xsd:annotation>
							<xsd:documentation>Подробное описание ошибки</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SystemFault" type="tns:tSystemFault">
				<xsd:annotation>
					<xsd:documentation>
						Системная ошибка
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
					xmlns:tns="http://www.rt.ru/integration/messages/fault"
					targetNamespace="http://www.rt.ru/integration/messages/fault"
					elementFormDefault="qualified">
			<xsd:complexType name="tRequestNotValidFault">
				<xsd:annotation>
					<xsd:documentation>
						Тип, описывающий ошибку валидации запроса
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Code" minOccurs="1" maxOccurs="1" nillable="false">
						<xsd:annotation>
							<xsd:documentation>Код ошибки</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="BIZ-002">
									<xsd:annotation>
										<xsd:documentation>Ошибка валидации запроса</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ReasonType" minOccurs="1" maxOccurs="1" nillable="false">
						<xsd:annotation>
							<xsd:documentation>Тип причины возникновения ошибки</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="XSD">
									<xsd:annotation>
										<xsd:documentation>XSD-валидация</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="SCH">
									<xsd:annotation>
										<xsd:documentation>Schematron-валидация</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="XSLT">
									<xsd:annotation>
										<xsd:documentation>Трансформация XSLT</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="XQuery">
									<xsd:annotation>
										<xsd:documentation>Трансформация XQuery</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ReasonFieldName" type="xsd:string" minOccurs="0"
								 maxOccurs="1" nillable="false">
						<xsd:annotation>
							<xsd:documentation>
								Наименование поля, в котором передано некорректное значение
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Reason" type="xsd:string" minOccurs="1"
								 maxOccurs="1" nillable="false">
						<xsd:annotation>
							<xsd:documentation>
								Причина возникновения ошибки
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="RequestNotValidFault" type="tns:tRequestNotValidFault">
				<xsd:annotation>
					<xsd:documentation>
						Ошибка валидации запроса
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
					xmlns:tns="http://www.rt.ru/integration/messages/fault"
					targetNamespace="http://www.rt.ru/integration/messages/fault"
					elementFormDefault="qualified">
			<xsd:complexType name="tProcessExternalObjectFault">
				<xsd:annotation>
					<xsd:documentation>
						Ошибка обработки создания/изменения внешнего объекта
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Code" minOccurs="1" maxOccurs="1" nillable="false">
						<xsd:annotation>
							<xsd:documentation>Код ошибки</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="BIZ-003">
									<xsd:annotation>
										<xsd:documentation>
											Ошибка обработки создания/изменения внешнего объекта
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RecordId" type="xsd:integer" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Идентификатор запроса
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Message" type="xsd:string" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Описание ошибки</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="ProcessExternalObjectFault"
						 type="tns:tProcessExternalObjectFault">
				<xsd:annotation>
					<xsd:documentation>
						Ошибка обработки создания/изменения внешнего объекта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:schema>

	</wsdl:types>

	<wsdl:message name="CaseNotificationRequest">
		<wsdl:part element="case:CaseNotification" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CaseNotificationResponse">
		<wsdl:part element="core:Empty" name="parameters" />
	</wsdl:message>
	<wsdl:message name="SystemFault">
		<wsdl:part element="fault:SystemFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="RequestNotValidFault">
		<wsdl:part element="fault:RequestNotValidFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="ProcessExternalObjectFault">
		<wsdl:part element="fault:ProcessExternalObjectFault" name="parameters"/>
	</wsdl:message>

	<wsdl:portType name="CaseNotificationService">
		<wsdl:operation name="CaseNotification">
			<wsdl:input message="tns:CaseNotificationRequest" />
			<wsdl:output message="tns:CaseNotificationResponse" />
			<wsdl:fault name="SystemFault" message="tns:SystemFault" />
			<wsdl:fault name="RequestNotValidFault" message="tns:RequestNotValidFault" />
			<wsdl:fault name="ProcessExternalObjectFault" message="tns:ProcessExternalObjectFault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CaseNotificationServiceSOAP" type="tns:CaseNotificationService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CaseNotification">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SystemFault">
				<soap:fault name="SystemFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="RequestNotValidFault">
				<soap:fault name="RequestNotValidFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ProcessExternalObjectFault">
				<soap:fault name="ProcessExternalObjectFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CaseNotificationService">
		<wsdl:port binding="tns:CaseNotificationServiceSOAP" name="CaseNotificationServiceSOAP">
			<soap:address location="{{ serviceUrl }}" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
